Objective:
    Data Cleansing
    Aggregate Data into country / year 
    Aggregate to one investment line, not by type of investment
    Output data as csv

In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
# Read excel file into a pandas dataframe
df = pd.read_excel ('Resources/InvestmentData.xlsx') 
df.head()

,Recipient Country/Area,ISO-code,Region,Project,Year,Investor,Technology,Asset Class,Amount (USD million),Source
0,Afghanistan,AFG,Asia,"ADA, MICRO HYDRO POWER",2000,Others,Renewable Hydropower,Grant,0.022474,2000-01 OECD Credit Report System (CRS) Database
1,Afghanistan,AFG,Asia,Afghanistan Reconstruction Trust Fund,2017,Others,Multiple renewables*,Grant,3.028126,2017 OECD Credit Report System (CRS) Database
2,Afghanistan,AFG,Asia,Afghanistan: Emergency National Solidarity Pro...,2003,WBG,Multiple renewables*,Grant,22.649842,2002-03 OECD Credit Report System (CRS) Database
3,Afghanistan,AFG,Asia,Afghanistan: Emergency National Solidarity Pro...,2005,WBG,Multiple renewables*,Grant,5.999401,2004-05 OECD Credit Report System (CRS) Database
4,Afghanistan,AFG,Asia,Afghanistan: Emergency National Solidarity Pro...,2006,WBG,Multiple renewables*,Grant,8.302498,2006 OECD Credit Report System (CRS) Database

In [3]:
df.isnull().any()

Recipient Country/Area    False
ISO-code                  False
Region                    False
Project                    True
Year                      False
Investor                  False
Technology                False
Asset Class               False
Amount (USD million)      False
Source                    False
dtype: bool

In [4]:
df.count()

Recipient Country/Area    9275
ISO-code                  9275
Region                    9275
Project                   9023
Year                      9275
Investor                  9275
Technology                9275
Asset Class               9275
Amount (USD million)      9275
Source                    9275
dtype: int64

In [5]:
df.isnull().any(axis=1)

0       False
1       False
2       False
3       False
4       False
        ...
9270    False
9271    False
9272    False
9273    False
9274    False
Length: 9275, dtype: bool

In [6]:
df[df.isnull().any(axis=1)]
#didn't drop any NaN, because it is fine if we don't know the project name, as long there is an amount available is what we care about.

,Recipient Country/Area,ISO-code,Region,Project,Year,Investor,Technology,Asset Class,Amount (USD million),Source
187,Argentina,ARG,South America,NaN,2004,JICA,Multiple renewables*,Grant,0.016106,2004-05 OECD Credit Report System (CRS) Database
188,Argentina,ARG,South America,NaN,2005,JICA,Multiple renewables*,Grant,0.002169,2004-05 OECD Credit Report System (CRS) Database
189,Argentina,ARG,South America,NaN,2017,IADB,Multiple renewables*,Other Official Flows (non Export Credit),60.969477,2017 OECD Credit Report System (CRS) Database
190,Argentina,ARG,South America,NaN,2017,IADB,Wind energy,Other Official Flows (non Export Credit),49.168933,2017 OECD Credit Report System (CRS) Database
282,Armenia,ARM,Eurasia,NaN,2001,Others,Renewable Hydropower,Grant,0.342560,2000-01 OECD Credit Report System (CRS) Database
...,...,...,...,...,...,...,...,...,...,...
9188,Zambia,ZMB,Africa,NaN,2006,Others,Solar energy,Grant,0.014464,2006 OECD Credit Report System (CRS) Database
9189,Zambia,ZMB,Africa,NaN,2014,AfDB,Renewable Hydropower,Other Official Flows (non Export Credit),32.882806,2014 OECD Credit Report System (CRS) Database
9190,Zambia,ZMB,Africa,NaN,2017,WBG,Solar energy,Loan,8.078456,2017 OECD Credit Report System (CRS) Database
9259,Zimbabwe,ZWE,Africa,NaN,2000,Others,Multiple renewables*,Grant,0.034433,2000-01 OECD Credit Report System (CRS) Database
9260,Zimbabwe,ZWE,Africa,NaN,2003,JICA,Multiple renewables*,Grant,0.011236,2002-03 OECD Credit Report System (CRS) Database

In [7]:
df.dtypes

Recipient Country/Area     object
ISO-code                   object
Region                     object
Project                    object
Year                        int64
Investor                   object
Technology                 object
Asset Class                object
Amount (USD million)      float64
Source                     object
dtype: object

In [8]:
#Use GroupBy in order to aggregate the data according to the values in the country / year
grouped_country_investment_df = df.groupby(['Recipient Country/Area','Year'])
print(grouped_country_investment_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fbd493a8ed0>

In [9]:
df.to_csv('Resources/InvestmentData.csv')

In [10]:
print (df)

     Recipient Country/Area ISO-code  Region  \
0               Afghanistan      AFG    Asia
1               Afghanistan      AFG    Asia
2               Afghanistan      AFG    Asia
3               Afghanistan      AFG    Asia
4               Afghanistan      AFG    Asia
...                     ...      ...     ...
9270               Zimbabwe      ZWE  Africa
9271               Zimbabwe      ZWE  Africa
9272               Zimbabwe      ZWE  Africa
9273               Zimbabwe      ZWE  Africa
9274               Zimbabwe      ZWE  Africa

                                                Project  Year Investor  \
0                                ADA, MICRO HYDRO POWER  2000   Others
1                 Afghanistan Reconstruction Trust Fund  2017   Others
2     Afghanistan: Emergency National Solidarity Pro...  2003      WBG
3     Afghanistan: Emergency National Solidarity Pro...  2005      WBG
4     Afghanistan: Emergency National Solidarity Pro...  2006      WBG
...                                                 ...   ...      ...
9270  STRENGTHEN PRODUCTIVE CAPACITY FOR SOLAR THERM...  2005   Others
9271                           TC AGGREGATED ACTIVITIES  2016     JICA
9272                           TC AGGREGATED ACTIVITIES  2017     JICA
9273  The Project for Public Sector Solar Water Heat...  2011   Others
9274         YALI - Rugare Global Solar Private Limited  2016   Others

                Technology Asset Class  Amount (USD million)  \
0     Renewable Hydropower       Grant              0.022474
1     Multiple renewables*       Grant              3.028126
2     Multiple renewables*       Grant             22.649842
3     Multiple renewables*       Grant              5.999401
4     Multiple renewables*       Grant              8.302498
...                    ...         ...                   ...
9270          Solar energy       Grant              0.469651
9271  Multiple renewables*       Grant              0.007757
9272  Multiple renewables*       Grant              0.009594
9273          Solar energy       Grant              1.019630
9274          Solar energy       Grant              0.010000

                                                Source
0     2000-01 OECD Credit Report System (CRS) Database
1        2017 OECD Credit Report System (CRS) Database
2     2002-03 OECD Credit Report System (CRS) Database
3     2004-05 OECD Credit Report System (CRS) Database
4        2006 OECD Credit Report System (CRS) Database
...                                                ...
9270  2004-05 OECD Credit Report System (CRS) Database
9271     2016 OECD Credit Report System (CRS) Database
9272     2017 OECD Credit Report System (CRS) Database
9273     2011 OECD Credit Report System (CRS) Database
9274     2016 OECD Credit Report System (CRS) Database

[9275 rows x 10 columns]